<footer class="flex flex-col justify-between text-white text-sm bg-blue">
    <div class="w-full flex flex-col md:flex-row md:justify-around p-4 mt-4">
        <div class="w-1/2 md:w-[20%] h-full flex flex-col gap-y-4">
            <div>
                <img src="assets/img/logo-step-post.png" alt="logo step-post">
            </div>
            <div class="flex flex-col gap-y-2">
                <p class="font-bold">Technopole Hélioparc</p>
                <p>2 avenue du Président Pierre Angot</p>
                <p>64053 PAU CEDEX</p>
            </div>
        </div>
        <div
            class="w-1/2 md:w-[40%] h-full flex flex-col md:flex-row justify-start md:justify-around items-start md:p-4 mt-4 md:mt-14">
            <div class="w-64 flex flex-col justify-center items-around gap-y-4 mb-4 md:mb-0">
                <p class="font-bold">Contacts</p>
                <div class="flex flex-col gap-y-2">
                    <a href="mailto:contact@step.eco">contact@step.eco</a>
                    <a href="tel:0559147879">05 59 14 78 79</a>
                </div>
            </div>
            <div class="w-64 flex flex-col justify-center items-around gap-y-4">
                <p class="font-bold">Liens utiles</p>
                <div class="flex flex-col gap-y-2">
                    <p>Mentions Légales</p>
                    <p>CGU</p>
                </div>
            </div>
        </div>
        <div class="w-1/2 md:w-[20%] h-full flex justify-start md:justify-end mt-4 md:mt-0">
            <div>
                <img class="w-24" src="assets/img/logo-footer.png" alt="logo step-post">
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center items-center text-xs">
        <p class="p-4">Droits Réservés @STEP 2022</p>
    </div>
</footer>