@media print {
    @page {
        size: portrait;
    }

    section:last-child {
        display: none;
    }

    main {
        margin-top: 0;
        margin-left: 0;
        row-gap: 0;

        >section {
            border: 1px solid black;
        }
    }
}