@media print {
    @page {
        size: portrait;
    }

    main {
        margin: auto;
        row-gap: 0;

        >section {
            border: 1px solid black;
        }

        >section:last-child {
            display: none;
        }
    }
}