/* $blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.main-bordereau {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 70%;
    height: 35%;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    row-gap: 3vh;

    >.section-bordereau-buttons {
        display: flex;
        justify-content: flex-end;

        >div {
            display: flex;
            column-gap: 2VW;
        }

    }

    .section-bordereau-exp {
        width: 21cm;
        height: 90mm;
        display: flex;
        background-color: lightgray;
        padding: 1vw;

        >.article-exp-left {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            >div:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 1vh;

                >img {
                    height: 4vh;
                }

                >p {
                    font-style: italic;
                    font-size: .85rem;
                }

                >form {
                    display: flex;
                    justify-content: center;
                    column-gap: .5vw;
                    align-items: center;
                }
            }

            >div:nth-child(2) {
                >p {
                    font-size: .9rem;
                }

                >p:nth-child(odd) {
                    font-weight: bold;
                }

                >p:last-child {
                    font-weight: normal;
                }
            }
        }

        >.article-exp-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >div:nth-child(1) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                >h2 {
                    font-weight: 800;
                }

                >p {
                    font-style: italic;
                    font-size: .85rem;
                }
            }

            >div:nth-child(2) {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 3vh;

                >span {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    ;
                    font-weight: bold;
                    color: black;

                    >article {
                        display: flex;
                        flex-direction: column;
                        row-gap: .5vh;
                    }
                }
            }
        }
    }

    >.section-bordereau-dest {
        width: 21cm;
        height: 90mm;
        display: flex;
        background-color: lightgray;
        padding: 1vw;

        >.article-dest-left {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            >div:nth-child(1) {
                height: 100%;
                display: flex;
                align-items: center;

                >img {
                    height: 150px;
                    width: 150px;
                }
            }

            >div:nth-child(2) {
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }

        >.article-dest-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >div:nth-child(1) {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 2vh;

                >span {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    font-weight: bold;
                    color: black;

                    >article {
                        display: flex;
                        flex-direction: column;
                        row-gap: 1vh;

                        >div {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }

            >div:nth-child(2) {
                width: 75%;
                height: 35%;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                border: 1px solid black;
                background-color: white;
                column-gap: .5vw;
                color: $blue;
                font-style: italic;

                >span {
                    display: flex;
                    column-gap: .5vw;
                }
            }
        }
    }

    >.section-bordereau-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        >div:last-child {
            >button:first-child {
                background-color: $orange;
            }
        }
    }
}

@media print {
    @page {
        size: portrait;
    }

    .main-bordereau {
        display: flex;
        transform: scale(.8);
        height: 100%;
        width: 100%;
        row-gap: 5vh;
        color: black;
        margin: auto;

        >.section-bordereau-buttons {
            display: none;
        }

        >.section-bordereau-exp,
        >.section-bordereau-dest {
            border: 1px solid black;
        }

        >.section-bordereau-exp {
            width: 210mm;
            height: 90mm;

            >.article-exp-left {
                >div:nth-child(1) {
                    >div {
                        >img {
                            width: 170px;
                            height: auto;
                        }

                        >label {
                            font-size: 5pt;
                        }
                    }

                    >p {
                        font-size: 5pt;
                    }
                }

                >div:nth-child(2) {
                    >p {
                        font-size: 5pt;
                    }
                }
            }

            >.article-exp-right {
                >div {
                    width: 100%;
                }
            }
        }

        >.section-bordereau-dest {
            width: 210mm;
            height: 90mm;

            >.article-dest-left {
                >div:nth-child(1) {
                    >img {
                        height: 150px;
                        width: 150px;
                    }
                }
            }

            >.article-dest-right {
                >div {
                    width: 100%;
                }

                >div:nth-child(1) {
                    height: 60%;
                }

                >div:nth-child(2) {
                    height: 30%;
                }
            }
        }
    }
} *//*# sourceMappingURL=preview.component.css.map */