.main-bordereau {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 70%;
  height: 35%;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  align-items: center;
  row-gap: 3vh;
}
.main-bordereau > .section-bordereau-buttons {
  display: flex;
  justify-content: flex-end;
}
.main-bordereau > .section-bordereau-buttons > div {
  display: flex;
  -moz-column-gap: 2VW;
       column-gap: 2VW;
}
.main-bordereau .section-bordereau-exp {
  width: 21cm;
  height: 90mm;
  display: flex;
  background-color: lightgray;
  padding: 1vw;
}
.main-bordereau .section-bordereau-exp > .article-exp-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vh;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(1) > img {
  height: 4vh;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(1) > p {
  font-style: italic;
  font-size: 0.85rem;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(1) > form {
  display: flex;
  justify-content: center;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
  align-items: center;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(2) > p {
  font-size: 0.9rem;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(2) > p:nth-child(odd) {
  font-weight: bold;
}
.main-bordereau .section-bordereau-exp > .article-exp-left > div:nth-child(2) > p:last-child {
  font-weight: normal;
}
.main-bordereau .section-bordereau-exp > .article-exp-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(1) > h2 {
  font-weight: 800;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(1) > p {
  font-style: italic;
  font-size: 0.85rem;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(2) {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3vh;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(2) > span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  color: black;
}
.main-bordereau .section-bordereau-exp > .article-exp-right > div:nth-child(2) > span > article {
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}
.main-bordereau > .section-bordereau-dest {
  width: 21cm;
  height: 90mm;
  display: flex;
  background-color: lightgray;
  padding: 1vw;
}
.main-bordereau > .section-bordereau-dest > .article-dest-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-bordereau > .section-bordereau-dest > .article-dest-left > div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-bordereau > .section-bordereau-dest > .article-dest-left > div:nth-child(1) > img {
  height: 150px;
  width: 150px;
}
.main-bordereau > .section-bordereau-dest > .article-dest-left > div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(1) {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2vh;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(1) > span {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: bold;
  color: black;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(1) > span > article {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(1) > span > article > div {
  display: flex;
  flex-direction: column;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(2) {
  width: 75%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid black;
  background-color: white;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
  color: #140A82;
  font-style: italic;
}
.main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(2) > span {
  display: flex;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
}
.main-bordereau > .section-bordereau-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.main-bordereau > .section-bordereau-buttons > div:last-child > button:first-child {
  background-color: #FF5E1A;
}

@media print {
  @page {
    size: portrait;
  }
  .main-bordereau {
    display: flex;
    transform: scale(0.8);
    height: 100%;
    width: 100%;
    row-gap: 5vh;
    color: black;
    margin: auto;
  }
  .main-bordereau > .section-bordereau-buttons {
    display: none;
  }
  .main-bordereau > .section-bordereau-exp,
.main-bordereau > .section-bordereau-dest {
    border: 1px solid black;
  }
  .main-bordereau > .section-bordereau-exp {
    width: 210mm;
    height: 90mm;
  }
  .main-bordereau > .section-bordereau-exp > .article-exp-left > div:nth-child(1) > div > img {
    width: 170px;
    height: auto;
  }
  .main-bordereau > .section-bordereau-exp > .article-exp-left > div:nth-child(1) > div > label {
    font-size: 5pt;
  }
  .main-bordereau > .section-bordereau-exp > .article-exp-left > div:nth-child(1) > p {
    font-size: 5pt;
  }
  .main-bordereau > .section-bordereau-exp > .article-exp-left > div:nth-child(2) > p {
    font-size: 5pt;
  }
  .main-bordereau > .section-bordereau-exp > .article-exp-right > div {
    width: 100%;
  }
  .main-bordereau > .section-bordereau-dest {
    width: 210mm;
    height: 90mm;
  }
  .main-bordereau > .section-bordereau-dest > .article-dest-left > div:nth-child(1) > img {
    height: 150px;
    width: 150px;
  }
  .main-bordereau > .section-bordereau-dest > .article-dest-right > div {
    width: 100%;
  }
  .main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(1) {
    height: 60%;
  }
  .main-bordereau > .section-bordereau-dest > .article-dest-right > div:nth-child(2) {
    height: 30%;
  }
}/*# sourceMappingURL=preview.component.css.map */