$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.detailsLivraison {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1vh;

    >.details {
        font-size: 1rem;
    }
}

.date {
    color: $orange;
}

.cercle {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background-color: $green
}

.trait {
    display: flex;
    width: 100%;
    height: .25vw;
    background-color: $green;
}

.timeline {
    display: flex;
    width: 70%;

    >div {
        list-style-type: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    >div:last-child {
        >.trait:last-child {
            display: none;
        }
    }
}

.cercleContainer {
    position: relative;
}

.statuts {
    position: absolute;
    white-space: nowrap;
    top: -150%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .75rem;
}

.statuts-date {
    position: absolute;
    white-space: nowrap;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: .75rem;
}


@media screen and (max-width: 1700px) {
    .trait {
        width: 100%;
    }
}

@media screen and (max-width: 1500px) {
    .trait {
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    .trait {
        width: 100%;
    }
}


@media screen and (max-width: 1200px) {
    .trait {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .statuts {
        font-size: .5rem;
    }

    .statuts-date {
        font-size: .5rem;
    }

    .details {
        font-size: .75rem;
    }

    .trait {
        width: 7vw;
    }

}

@media screen and (max-width: 600px) {
    .trait {
        width: 15vw;
    }

    .detailsLivraison {
        flex-direction: column;
        row-gap: 3vh;
        justify-content: center;
        align-items: c;
    }

    .details {
        >div {
            >p {
                font-size: .75rem;
            }
        }
    }

    .statuts {
        top: -300%;
    }
}

@media print {
    .timeline {
        margin-top: 50px;
    }

    .statuts {
        top: -300%;
    }

    .detailsLivraison {
        font-size: 1.5rem;
    }
}