<main class="flex justify-center flex-col items-center h-[calc(70vh_-_70px)] gap-y-8">
    <section *ngIf="!loader" class="w-64 md:w-96">
        <h2 class="flex justify-start md:text-3xl text-xl font-bold">Connexion</h2>
    </section>
    <section class="flex flex-col">
        <div *ngIf="loader" class="lds-dual-ring"></div>
        <form *ngIf="!loader" class="flex flex-col w-64 md:w-96 gap-y-4" [formGroup]="loginForm">

            <!-- email -->
            <label for="email">Email :</label>
            <input
                class="border-stone-300 border-2 w-full p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" type="email" formControlName="email" required [testLoginForm]="emailError">

            <!-- password -->
            <label for="password">Mot de Passe :</label>
            <input
                class="border-stone-300 border-2 w-full p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="password" type="password" formControlName="password" required [testLoginForm]="passwordError">

            <!-- buttons -->
            <div class="flex justify-between items-baseline w-64 md:w-96 gap-y-5">
                <span class="flex justify-center w-64 md:w-96">
                    <a routerLink="/password-reset" class="text-sm underline">Mot de passe oublié</a>
                </span>
                <span class="w-64 md:w-96 flex justify-end">
                    <button
                        class="button bg-blue-500 hover:bg-blue-700 text-white font-bold p-4 focus:outline-none focus:shadow-outline text-sm"
                        (click)="onSubmitForm()" [disabled]="loginForm.invalid" type="submit">se
                        connecter
                    </button>
                </span>
            </div>
        </form>
    </section>
</main>