<section class="flex flex-col gap-y-4">
    <div class="flex items-center gap-x-4 justify-center">
        <h4>Nouvelle adresse</h4>
        <a routerLink="/adresses/add">
            <img class="cursor-pointer w-6" src="assets/img/plus-btn.svg" alt="lien nouvelle adresse">
        </a>
    </div>
    <input
        class="shadow appearance-none border-stone-300 w-64 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        #searchBox (keyup)="onSearch(searchBox.value)" placeholder="Nom du destinataire..." autofocus>
    <article class="article-recherche-nom" *ngIf="!recherche">
    </article>

    <article class="flex flex-col items-center gap-y-4" *ngIf="recherche">
        <div class="flex flex-col md:flex-row md:justify-center items-center text-xs md:text-sm">
            <p>Résultat de la recherche pour :</p>
            <p>{{nom | titlecase}}</p>
        </div>
        <div>
            <h5 class="text-orange text-sm cursor-pointer underline" (click)="onRetour()">retour</h5>
        </div>
    </article>
</section>