<main class="flex justify-center flex-col items-center gap-y-8 my-10">
    <section class="section-adresses-recherche">
        <app-recherche (isLoading)="onSetLoader($event)" (retourAdresses)="onRetourAdresses($event)"
            (fermerRecherche)="onFermerRecherche()">
        </app-recherche>
    </section>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <section *ngIf="!loader"
        class="max-w-7xl flex flex-wrap justify-center md:justify-center gap-x-0 gap-y-4 container mx-auto">
        <app-destinataire class="min-w-32" *ngFor="let adresse of adresses" [adresse]="adresse"
            (retourAdresse)="onRetourAdresse($event)"></app-destinataire>
    </section>
    <app-popup-delete *ngIf="popupDelete" [adresse]="adresseToDelete" (fermerPopup)="onFermerPopup()">
    </app-popup-delete>
    <section *ngIf="!loader && adresses.length === 0">
        <app-liste-vide [msg]="msg"></app-liste-vide>
    </section>
</main>