<main class="md:w-full flex flex-col items-center gap-y-5 md:gap-y-10 mb-8">

    <section class="md:max-w-7xl container mx-auto flex flex col items-center">
        <app-recherche class="min-w-full" (isLoading)="onSetLoader($event)" (searchedName)="onRechercheNom($event)"
            (retourNoResults)="onRetour()" (resetId)="onResetId()">
        </app-recherche>
    </section>

    <section class="flex justify-center font-bold md:text-lg">
        <div *ngIf="!(rechercheNom)">
            <h3>Envois en cours</h3>
        </div>
        <div class="flex flex-col items-center justify-center font-bold text-sm p-4 gap-y-1" *ngIf="rechercheNom">
            <h3 class="md:text-lg">Courrier(s) en cours de distribution pour {{courriers[0].civilite |
                titlecase}}
                {{courriers[0].prenom | titlecase}} {{courriers[0].nom | titlecase}}</h3>
            <h4 class="md:text-lg text-orange underline cursor-pointer" (click)="onRetour()">retour</h4>
        </div>
    </section>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <section *ngIf="!loader && courriers"
        class="md:max-w-5xl flex flex-col justify-center items-center container mx-auto">
        <app-courrier class="min-w-full" (courrierClickId)="onCourrierClick($event)" *ngFor="let courrier of courriers"
            [courrier]="courrier" @fade></app-courrier>

        <div class="flex gap-x-2 text-sm items-center" *ngIf="courriers && !loader">
            <!-- 
            <button
                class="border-2 py-1 px-2 bg-stone-300 text-black rounded cursor-pointer hover:bg-stone-200 active:translate-x-0.5 active:translate-y-0.5"
                [ngStyle]="{visibility: courriersService.previous}" (click)="onClickPrevious()"> {{"<"}}
            </button>
        -->
            <app-button [text]="'<'" [ngStyle]="{visibility: courriersService.previous}" (click)="onClickPrevious()">
            </app-button>
            <p class="text-xs">{{courriersService.page + 1}} / {{courriersService.pagesMax}}</p>
            <!-- 
            <button
                class="border-2 py-1 px-2 bg-stone-300 text-black rounded cursor-pointer hover:bg-stone-200 active:translate-x-0.5 active:translate-y-0.5"
                [ngStyle]="{visibility: courriersService.next}" (click)="onClickNext()"> {{">"}}
            </button>
             -->
            <app-button [text]="'>'" [ngStyle]="{visibility: courriersService.next}" (click)="onClickNext()">
            </app-button>
        </div>
    </section>
    <section *ngIf="!courriers && !loader">
        <app-liste-vide [msg]="msg"></app-liste-vide>
    </section>

</main>