$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

.main-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    margin-top: 25px;
    margin-bottom: 100px;

    >.section-home {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;

        >.pages {
            display: flex;
            align-items: center;
            column-gap: .5vw;

            >button {
                padding: 0 .2vw;
            }

            >p {
                font-size: .75em;
            }

        }
    }

    >.section-courriers-titre {
        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1vh;

            >h4 {
                color: $orange;
                text-decoration: underline;
                letter-spacing: .1vw;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


@media print {
    .main-home {

        >.section-courriers-titre {
            display: none;
        }

        >.section-home {
            display: none;

            .courrier {
                div {
                    span {
                        p {
                            color: .75rem;
                        }
                    }
                }
            }
        }
    }
}