$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.courrier {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    padding: 1vh;
    border-bottom: solid #646464 2px;

    &:hover {
        cursor: pointer;
        border: 1px solid darkgray;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #646464;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        >span {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    >div:nth-child(3) {
        width: 80%;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
}

.date {
    color: $orange;
}

@media screen and (max-width: 600px) {
    .main-home {
        .section-home {
            .courrier {
                div {
                    span {
                        p {
                            color: .75rem;
                        }
                    }
                }
            }
        }
    }
}