<header class="relative flex justify-between items-center p-5 mr-4">
    <div>
        <img class="w-32 md:w-48 px-5" src="assets/img/logo.png" alt="logo step post">
    </div>
    <div *ngIf="auth.isLoggedIn" class="flex justify-center items-center md:gap-x-4 md:gap-y-2">
        <div class="hidden md:flex">
            <app-white-button [text]="'nouveau courrrier'" (click)="onNouveauCourrierClick()"></app-white-button>
        </div>
        <div class="hidden md:flex">
            <app-liste-liens></app-liste-liens>
        </div>
        <div class="flex md:hidden" (click)="onBurgerClick()">
            <img src="assets/img/Burger.svg" alt="icone menu burger">
        </div>
        <div *ngIf="burger">
            <app-liste-lien-mobile (close)="onBurgerClick()"></app-liste-lien-mobile>
        </div>
    </div>
    <div *ngIf="auth.isLoginPage">
        <app-white-button [text]="'inscription'" (click)="onInscriptionClick()"></app-white-button>
    </div>
</header>