$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.icone {
    width: 24px;
    height: 24px;
}

.username {
    font-weight: bold;
}

.button {
    font-size: .75em;
}

header {
    display: flex;

    >div {
        width: 50vw;
        padding: 0.75vw;

        >img {
            height: 6vh;
            width: auto;
        }
    }

    >div:nth-child(2) {
        display: flex;
        justify-content: flex-end;

        >ul {
            display: flex;
            list-style-type: none;
            column-gap: 1vw;
            align-items: center;

            >li {
                padding: 0.5vw;
                display: flex;
                align-items: center;

                >p {
                    cursor: pointer;
                }

                >a {
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        >div {
            >img {
                height: 6vh;
            }
        }

        >div:nth-child(2) {
            >ul {
                >li {
                    >a {
                        >img {
                            width: 3vh;
                            height: 3vh;
                        }
                    }
                }
            }
        }
    }
}

@media print {
    * {
        display: none;
    }
}