<header>
    <div>
        <img src="assets/img/logo.png" alt="logo step post">
    </div>
    <div *ngIf="auth.isLoggedIn">
        <ul>
            <li>
                <a routerLink="/adresses/nouveau-courrier" class="button">nouveau courrier</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/courriers">
                    <img class="icone" src="assets/img/icone-home.png" alt="icone home">
                </a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/adresses">
                    <img class="icone" src="assets/img/icone-favoris.png" alt="icone adresses">
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/historique">
                    <img class="icone" src="assets/img/icone-tableau.png" alt="icone historique">
                </a>
            </li>
            <li *ngIf="!auth.username" routerLinkActive="active">
                <a routerLink="/profil">
                    <img class="icone" src="assets/img/icone-account.png" alt="icone gestion du profil">
                </a>
            </li>
            <li>
                <p>
                    <img class="icone" src="assets/img/icone-logout.png" alt="icone déconnexion" (click)="onLogout()">
                </p>
            </li>
            <li *ngIf="auth.username" routerLinkActive="active">
                <a class="username" routerLink="/profil">{{auth.username | titlecase}}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="!auth.isLoggedIn && auth.isLoginPage">
        <ul>
            <li>
                <p class="button" (click)="onInscriptionClick()">Inscription</p>
            </li>
        </ul>
    </div>
</header>