<section>
    <article>
        <div>
            <label>Entrez votre email svp :</label>
            <div>
                <input type="email" #mailBox (keyup)="onCheck(mailBox.value)" autofocus>
            </div>
            <!--    <div [ngStyle]="{visibility: visibility}" class="message-statut">
                <span>
                    <img src="{{icone}}" alt="icone succès">
                </span>
                <span [ngStyle]="{color: color}">
                    {{message}}
                </span>
            </div> -->
        </div>
    </article>
</section>