<main class="w-full flex flex-col items-center gap-y-8">
    <section>
        <div>
            <h4 class="font-bold">
                Réinitialisation du mot de passe
            </h4>
        </div>
    </section>
    <section class="w-80 flex flex-col items-center md:text-sm ">
        <form class="md:w-full flex flex-col gap-y-8" [formGroup]="emailForm" (submit)="onSubmit()">
            <div>
                <label>Adresse email :</label>
                <div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-full p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="email" formControlName="email" placeholder="jean.dupont@exemple.fr" autofocus>
                </div>
            </div>
            <div class="w-80">
                <app-button [fullSize]="true" [text]="'envoyer'"></app-button>
            </div>
        </form>
    </section>
    <!--     <section class="section-form">
        <form [formGroup]="emailForm" (submit)="onSubmit()">
            <div>
                <label>Adresse email</label>
            </div>
            <input class="input" type="email" formControlName="email" placeholder="jean.dupont@exemple.fr">
            <div>
                <button class="button" type="submit">envoyer</button>
            </div>
        </form>
    </section> -->
    <section *ngIf="!mailSent" class="w-80">
        <div class="flex flex-col items-center">
            <h5 class="text-sm">Assurez vous de bien écrire votre adresse email.</h5>
        </div>
    </section>
    <section class="w-80 flex flex-col items-center" *ngIf="mailSent">
        <p class="text-sm text-justify">Un email contenant les instructions pour la réinitialisation de votre mot de
            passe vous a été envoyé,
            veuillez consulter votre boîte mail svp.</p>
    </section>
</main>