$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.obligatoire {
    color: red;
}

.section-adresse-form {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    main {
        >.article-form-adresse {
            align-items: flex-start;

            >.form-edition {
                width: 90%;
                font-size: .75em;

                >div:first-child {
                    align-items: center;

                    >label {
                        >select {
                            width: 10vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    main {
        >.article-form-adresse {
            align-items: flex-start;

            >div {
                width: 100%;

                >h3 {
                    font-size: .75em;
                }
            }

            >.form-edition {
                width: 90%;
                font-size: .75em;

                >div:first-child {
                    align-items: center;

                    >label {
                        >select {
                            width: 20vw;
                        }
                    }

                    >p {
                        white-space: nowrap;
                        font-size: .5em;
                    }
                }
            }
        }
    }
}