<main class="flex flex-col items-center gap-y-8">
    <section class="w-80 text-sm flex justify-between">
        <h4>Nouvelle adresse</h4>
        <a routerLink="/adresses">
            <h4 class="underline cursor-pointer text-orange">retour</h4>
        </a>
    </section>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <section class="section-adresse-form">
        <div *ngIf="loader" class="lds-dual-ring"></div>
        <app-adresse-form *ngIf="!loader" (submitted)="onSubmitted($event)"></app-adresse-form>
    </section>