<div class="fixed top-0 left-0 min-w-full min-h-full z-20 opacity-10 bg-black" (click)="onClose()"></div>
<div class="z-50 fixed w-full max-w-md h-full md:h-auto top-1/2 -translate-x-1/2 -translate-y-1/2">
    <ul class="absolute bg-blue w-48 min-h-full flex flex-col right-48 p-4 gap-y-4 z-1000">
        <li class="text-white font-bold"><a routerLink="/adresses/nouveau-courrier">Nouveau Courrier</a></li>
        <li class="text-white font-bold"><a routerLink="/courriers">Accueil</a></li>
        <li class="text-white font-bold"><a routerLink="/adresses">Adresses Favorites</a></li>
        <li class="text-white font-bold"><a routerLink="/historique">Historique</a></li>
        <li class="text-white font-bold"><a routerLink="/profil">Mon Compte</a></li>
        <li class="text-white font-bold">
            <p (click)="onLogout()">Déconnexion</p>
        </li>
    </ul>
</div>