<div class="fixed top-0 left-0 min-w-full min-h-full z-20 opacity-10 bg-black" (click)="onClose()"></div>
<div class="z-50 fixed w-full max-w-md h-full md:h-auto top-1/2 -translate-x-1/2 -translate-y-1/2">
    <ul class="absolute bg-blue w-80 min-h-full flex flex-col right-48 z-1000">
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue"><a class="flex px-4 py-8"
                (click)="onClose()" routerLink="/adresses/nouveau-courrier">Nouveau
                Courrier</a>
        </li>
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue"><a class="flex px-4 py-8"
                (click)="onClose()" routerLink="/courriers">Accueil</a>
        </li>
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue"><a class="flex px-4 py-8"
                (click)="onClose()" routerLink="/adresses">Adresses
                Favorites</a></li>
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue"><a class="flex px-4 py-8"
                (click)="onClose()" routerLink="/historique">Historique</a></li>
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue"><a class="flex px-4 py-8"
                (click)="onClose()" routerLink="/profil">Mon
                Compte</a></li>
        <li class="w-full text-white font-bold hover:bg-white hover:text-blue bg-orange">
            <p class="flex px-4 py-8" (click)="onClose()" (click)="onLogout()">Déconnexion</p>
        </li>
    </ul>
</div>