<div class="fixed top-0 left-0 min-w-full min-h-full z-20 opacity-10 bg-black" (click)="onClose()"></div>
<div class="z-50 fixed w-full max-w-md h-full md:h-auto top-1/2 -translate-x-1/2 -translate-y-1/2">
    <ul class="absolute bg-blue w-48 min-h-full flex flex-col p-4 gap-y-4 z-1000">
        <li class="text-white font-bold">Nouveau Courrier</li>
        <li class="text-white font-bold">Accueil</li>
        <li class="text-white font-bold">Adresses Favorites</li>
        <li class="text-white font-bold">Historique</li>
        <li class="text-white font-bold">Déconnexion</li>
        <li class="text-white font-bold">Mon Compte</li>
    </ul>
</div>