<main class="w-full flex flex-col items-center gap-y-8">
    <section class="md:max-w-md container mx-auto flex flex-col items-center gap-y-4">
        <div>
            <h3 class="font-bold">Réinitialisation du mot de passe</h3>
        </div>
        <div>
            <h4 class="text-sm">
                Veuillez entrer votre nouveau mot de passe :
            </h4>
        </div>
    </section>
    <section class="w-80 md:max-w-md md:container mx-auto">
        <app-new-password class="w-full" (submitted)="onSubmitted($event)"></app-new-password>
    </section>
</main>