$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border: 1px solid $blue;
    border-radius: 10px;
}