<form class="w-80 md:w-full flex flex-col items-center gap-y-8" [formGroup]="passwordForm">
    <div class="w-80 md:w-full flex flex-col text-sm">
        <label>Nouveau mot de passe :</label>
        <input
            class="shadow border-stone-300 border w-80 md:w-full p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password" id="newPassword" formControlName="newPassword" [testField]="passwordMatch">
    </div>
    <div class="w-80 md:w-full flex flex-col text-sm">
        <label>Confirmez le mot de passe :</label>
        <input
            class="shadow border-stone-300 border w-80 md:w-full p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            type="password" id="confirmPassword" formControlName="confirmPassword" [testField]="passwordMatch">
    </div>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <div class="w-full">
        <div *ngIf="!loader" class="w-full flex flex-col md:flex-row md:justify-end md:gap-x-4 gap-y-8">
            <!-- <button class="button" type="button" (click)="onCancel()">annuler</button>
        <button type="submit" class="button">enregistrer</button> -->
            <app-button [fullSize]="true" [text]="'effacer mots de passes'" [bg]="'orange'"
                (click)="onCancel()"></app-button>
            <app-button [fullSize]="true" [text]="'enregistrer'" (click)="onSubmit()"></app-button>
        </div>
    </div>
</form>