<form class="confirm-password-form" [formGroup]="passwordForm" (submit)="onSubmit()">
    <div class="new-password">
        <label>Nouveau mot de passe :</label>
        <input type="password" id="newPassword" formControlName="newPassword" [testField]="newError">
    </div>
    <div>
        <label>Confirmez le mot de passe :</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" [testField]="confirmError">
    </div>
    <div *ngIf="passwordMatch" class="message-statut">
        <span>
            <img src="assets/img/icone-check.png" alt="icone succès">
        </span>
        <span [ngStyle]="{color: 'green'}">
            Les deux mots de passe correspondent
        </span>
    </div>
    <div *ngIf="!passwordMatch" class="message-statut">
        <span>
            <img src="assets/img/icone-uncheck.png" alt="icone échec">
        </span>
        <span [ngStyle]="{color: 'red'}">
            Les deux mots de passe ne correspondent pas
        </span>
    </div>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <div *ngIf="!loader" class="button-group">
        <button class="button" type="button" (click)="onCancel()">annuler</button>
        <button type="submit" class="button">enregistrer</button>
    </div>
</form>