$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;




.confirm-password-form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    padding: 1vh;

    >.message-statut {
        flex-direction: row;
        align-items: center;
        column-gap: 1vw;
    }

    >div {
        display: flex;
        flex-direction: column;
        font-size: .75em;
        row-gap: 1vh;

        >input {
            height: 3.5vh;
            padding: 1vw;
            border: solid 1px #646464;
            box-shadow: 4px 4px 4px #646464;
        }
    }

    >div:first-child {
        padding: 0 0 2vh 0;
        border-bottom: 1px solid $blue;
    }
}

div:last-child {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    >button {
        width: 100%;
        display: block;
    }

    >button:first-child {
        background-color: $orange;
    }
}