<header class="flex justify-between items-center mb-10 mr-8">
    <div>
        <img class="w-48 md:w-64 p-5" src="assets/img/logo.png" alt="logo step post">
    </div>
    <div *ngIf="auth.isLoggedIn" class="flex flex-col-reverse md:flex-row justify-center items-center gap-y-2">
        <div>
            <a routerLink="/adresses/nouveau-courrier"
                class="nouveau-courrier whitespace-nowrap md:text-lg text-xs text-white md:px-4 py-2 px-2 focus:outline-none focus:shadow-outline md:mr-5">nouveau
                courrier</a>
        </div>
        <ul class="flex items-center gap-x-2 md:gap-x-10 p-2">
            <li class="pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/courriers">
                    <img src="assets/img/icone-home.png" width=24px height=auto alt="icone home">
                </a>
            </li>
            <li class="pb-2" routerLinkActive="active">
                <a routerLink="/adresses">
                    <img class="icone" src="assets/img/icone-favoris.png" width=24px height=auto alt="icone adresses">
                </a>
            </li>
            <li class="pb-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/historique">
                    <img class="icone" src="assets/img/icone-tableau.png" width=24px height=auto alt="icone historique">
                </a>
            </li>
            <li class="pb-2" *ngIf="!auth.username" routerLinkActive="active">
                <a routerLink="/profil">
                    <img class="icone" src="assets/img/icone-account.png" width=24px height=auto
                        alt="icone gestion du profil">
                </a>
            </li>
            <li class="pb-2">
                <p>
                    <img class="icone" src="assets/img/icone-logout.png" width=24px height=auto alt="icone déconnexion"
                        (click)="onLogout()">
                </p>
            </li>
            <li class="pb-2" *ngIf="auth.username" routerLinkActive="active">
                <a class="text-sm md:text-xl" routerLink="/profil">{{auth.username | titlecase}}</a>
            </li>
        </ul>
    </div>
    <div *ngIf="auth.isLoginPage">
        <a class="nouveau-courrier whitespace-nowrap md:text-lg md:font-bold text-xs text-white md:px-4 py-2 px-2 focus:outline-none focus:shadow-outline mr-5"
            routerLink="/profil/new-client">Inscription</a>
    </div>
</header>