<section class="w-80 md:w-full bg-white mx-auto text-sm mb-10 flex flex-col items-center">
    <form class="w-full flex flex-col gap-y-8 mx-8" [formGroup]="adresseForm">
        <article class="flex flex-col gap-y-4 md:gap-y-8">
            <div class="flex flex-col gap-y-4 items-center md:flex-row md:justify-between">
                <label class="flex flex-col">
                    <div class="flex gap-x-2">
                        <p>Nom / Entreprise</p>
                        <p class="text-red">*</p>
                    </div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="nom" formControlName="nom" placeholder="Dupont">
                </label>
                <label>
                    <div class="flex gap-x-2">
                        <p>Prénom / Service</p>
                        <p class="text-red">*</p>
                    </div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="prenom" formControlName="prenom" placeholder="Jean">
                </label>
            </div>
            <div>
                <label class="flex flex-col">
                    <div class="flex gap-x-2">
                        <p>Adresse</p>
                        <p class="text-red">*</p>
                    </div>
                    <textarea
                        class="shadow border-stone-300 border w-80 md:w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="adresse" rows="2" formControlName="adresse"
                        placeholder="2 rue du Président Pierre Angot"></textarea>
                </label>
            </div>
            <div>
                <label class="flex flex-col">
                    <div>
                        <p>Complément d'adresse</p>
                    </div>
                    <textarea
                        class="shadow border-stone-300 border w-80 md:w-full p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="complement" rows="2" formControlName="complement"
                        placeholder="Chez Mr Jacques Durand"></textarea>
                </label>
            </div>
            <div class="flex flex-col gap-y-4 md:flex-row md:justify-between">
                <label class="flex flex-col">
                    <div class="flex gap-x-2">
                        <p>Code Postal</p>
                        <p class="text-red">*</p>
                    </div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="codePostal" formControlName="codePostal" placeholder="64000">
                </label>
                <label class="flex flex-col">
                    <div class="flex gap-x-2">
                        <p>Ville</p>
                        <p class="text-red">*</p>
                    </div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="ville" formControlName="ville" placeholder="Pau">
                </label>
            </div>
            <div class="flex flex-col gap-y-4 md:flex-row md:justify-between">
                <label class="flex flex-col">
                    <div class="flex gap-x-2">
                        Téléphone
                        <p class="text-red">*</p>
                    </div>
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="telephone" formControlName="telephone" placeholder="0102030405">
                </label>
                <label class="flex flex-col" *ngIf="!raisonSociale">
                    <div class="flex gap-x-2">
                        Email
                        <p class="text-red">*</p>
                    </div>
                    <!-- mise à jour des coordonnées uniquement -->
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="email" formControlName="email" placeholder="jean.dupont@exemple.fr">
                </label>
                <label class="flex flex-col" *ngIf="raisonSociale">
                    <div class="flex gap-x-2">
                        Raison Sociale
                        <p class="text-red">*</p>
                    </div>
                    <!-- création de nouveaux comptes -->
                    <input
                        class="shadow border-stone-300 border w-80 md:w-96 p-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text" id="raisonSociale" formControlName="raisonSociale" placeholder="Mon Entreprise">
                </label>
            </div>
            <div class="flex">
                <p>Les champs marqués d'un&nbsp;</p>
                <p class="text-red">*</p>
                <p>&nbsp;sont obligatoires</p>
            </div>
        </article>
        <div *ngIf="loader" class="lds-dual-ring"></div>
        <article class="md:flex md:justify-end">
            <div class="flex flex-col gap-y-8 md:flex-row md:gap-x-4 md:w-fit" *ngIf="!loader">
                <app-button [fullSize]="true" [text]="'annuler'" [bg]="'orange'" (click)="onCancel()"></app-button>
                <app-button [fullSize]="true" [text]="'enregistrer'" (click)="onSubmit()"></app-button>
            </div>
        </article>
    </form>
</section>