<form class="form-update" [formGroup]="adresseForm">
    <div>
        <label>
            <div>
                <p>Prénom / Service</p>
            </div>
            <input type="text" id="prenom" formControlName="prenom" placeholder="Jean">
        </label>
        <label>
            <div>
                <p>Nom / Entreprise</p>
                <p class="obligatoire">*</p>
            </div>
            <input type="text" id="nom" formControlName="nom" placeholder="Dupont">
        </label>
    </div>
    <div>
        <label>
            <div>
                <p>Adresse</p>
                <p class="obligatoire">*</p>
            </div>
            <textarea id="adresse" rows="2" formControlName="adresse" placeholder="12 rue du Président Toto"></textarea>
        </label>
    </div>
    <div>
        <label>
            <div>
                <p>Complément d'adresse</p>
            </div>
            <textarea id="complement" rows="2" formControlName="complement"
                placeholder="Chez Mr Jacques Durand"></textarea>
        </label>
    </div>
    <div>
        <label>
            <div>
                <p>Code Postal</p>
                <p class="obligatoire">*</p>
            </div>
            <input type="text" id="codePostal" formControlName="codePostal" placeholder="64000">
        </label>
        <label>
            <div>
                <p>Ville</p>
                <p class="obligatoire">*</p>
            </div>
            <input type="text" id="ville" formControlName="ville" placeholder="Pau">
        </label>
    </div>
    <div>
        <label>
            <div>
                Téléphone
                <p class="obligatoire">*</p>
            </div>
            <input type="text" id="telephone" formControlName="telephone" placeholder="0102030405">
        </label>
        <label>
            <div>
                Email
                <p class="obligatoire">*</p>
            </div>
            <input type="text" id="email" formControlName="email" placeholder="jean.dupont@exemple.fr">
        </label>
    </div>
    <div *ngIf="loader" class="lds-dual-ring"></div>
    <div *ngIf="!loader">
        <button class="button" (click)="onCancel()">annuler</button>
        <button class="button" (click)="onSubmit()">enregistrer</button>
    </div>
</form>