$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.adresse {
    display: flex;
    row-gap: .5vh;
    padding: 1VW;
    border: 1px solid $blue;
    border-radius: 10px;
    column-gap: 1vw;

    &:hover {
        box-shadow: 4px 4px 4px #646464;

        >ul {
            visibility: visible;
        }
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        >span {
            display: flex;
        }
    }

    >ul {
        visibility: hidden;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-left: 1px $blue solid;
        padding: 0 0 0 .5vw;
        row-gap: 5px;

        >li {

            >img,
            >a>img {
                height: 24px;
                width: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section-adresses {
        >.adresse {
            white-space: nowrap;
        }
    }

}