<article
  class="w-64 md:w-80 shadow-lg p-6 text-xs md:text-sm flex items-center group hover:border-blue border-stone-300 border-2 rounded mx-8 md:mx-4 hover:shadow-2xl"
  id="adresse.id">
  <div class="w-80">
    <span class="flex">
      <p>{{ adresse.prenom + " " + adresse.nom | titlecase}}</p>
    </span>
    <p class="flex">{{adresse.adresse | titlecase}}</p>
    <p class="flex">{{adresse.codePostal | titlecase}} {{adresse.ville | titlecase}}</p>
  </div>
  <ul class="w-16 flex flex-col items-end gap-y-2 pr-2 invisible group-hover:visible border-blue border-l">
    <li> <a routerLink="/adresses/nouveau-courrier/{{adresse.id}}">
        <img class="w-4" src="assets/img/icone-poste.svg" alt="icone nouvel envoi"></a>
    </li>
    <li>
      <a routerLink="/adresses/edition/{{adresse.id}}">
        <img class="w-4" src="assets/img/icone-edit.svg" width="auto" height="24px" alt="icone edition adresse"></a>
    </li>
    <li>
      <img class="w-4 cursor-pointer" src="assets/img/icone-delete.svg" height="24px" width="auto"
        alt="icone suppression adresse" (click)="onDelete()">
    </li>
  </ul>
</article>