<article class="w-80 md:w-full bg-white mx-auto text-xs md:text-sm mb-10">
    <form class="bg-orange md:w-full flex flex-col gap-y-4 mx-8" [formGroup]="adresseForm" (submit)="onSubmitForm()">
        <div class="md:w-full flex items-center justify-between">
            <label class="flex flex-col">Civilité
                <select
                    class="shadow border-stone-300 w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="civilite" formControlName="civilite" placeholder="Mr">
                    <option value="">---</option>
                    <option value="mr">Mr</option>
                    <option value="mme">Mme</option>
                </select>
            </label>
        </div>
        <div class="flex flex-col md:flex-row md:justify-between md:gap-x-4 gap-y-4">
            <label>
                <div class="flex gap-x-2">
                    <p>Nom / Entreprise</p>
                    <p class="text-red">*</p>
                </div>
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="nom" formControlName="nom" placeholder="Dupont">
            </label>
            <label class="bg-blue">
                <div class="flex gap-x-2">
                    <p>Prénom / Service</p>
                    <p class="text-red">*</p>
                </div>
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="prenom" formControlName="prenom" placeholder="Jean">
            </label>
        </div>
        <div class="md:w-full flex flex-col">
            <label class="md:w-full">
                <div class="md:w-full flex gap-x-2">
                    <p>Adresse</p>
                    <p class="text-red">*</p>
                </div>
                <textarea
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="adresse" rows="2" formControlName="adresse" placeholder="12 rue du Président Toto"></textarea>
            </label>
        </div>
        <div class="flex flex-col">
            <label>
                <div>
                    <p>Complément d'adresse</p>
                </div>
                <textarea
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="complement" rows="2" formControlName="complement"
                    placeholder="Chez Mr Jacques Durand"></textarea>
            </label>
        </div>
        <div class="flex flex-col gap-y-4">
            <label>
                <div class="flex gap-x-2">
                    <p>Code Postal</p>
                    <p class="text-red">*</p>
                </div>
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="codePostal" formControlName="codePostal" placeholder="64000">
            </label>
            <label>
                <div class="flex gap-x-2">
                    <p>Ville</p>
                    <p class="text-red">*</p>
                </div>
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="ville" formControlName="ville" placeholder="Pau">
            </label>
        </div>
        <div class="flex flex-col gap-y-4">
            <label>
                Téléphone
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="telephone" formControlName="telephone" placeholder="0102030405">
            </label>
            <label>
                Email
                <input
                    class="shadow border-stone-300 border w-80 md:w-96 p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" id="email" formControlName="email" placeholder="jean.dupont@exemple.fr">
            </label>
        </div>
        <div class="flex">
            <p>( Les champs marqués d'un&nbsp;</p>
            <p class="text-red">*</p>
            <p>&nbsp;sont obligatoires )</p>
        </div>
        <div class="flex gap-x-2 justify-end" *ngIf="!nouveauCourrier">
            <button
                class="shadow-xl select-none p-2 active:translate-x-0.5 active:translate-y-0.5 focus:outline-none focus:shadow-outline text-xs bg-orange text-white font-bold"
                type="button" (click)="onCancel()">annuler</button>
            <input
                class="shadow-xl select-none p-2 active:translate-x-0.5 active:translate-y-0.5 focus:outline-none focus:shadow-outline text-xs bg-blue text-white font-bold"
                type="submit" value="envoyer">
        </div>
        <div class="flex gap-x-2 justify-between" *ngIf="nouveauCourrier">
            <div>
                <button
                    class="shadow-xl select-none p-2 active:translate-x-0.5 active:translate-y-0.5 focus:outline-none focus:shadow-outline text-xs bg-white text-blue font-bold border-blue border"
                    type="button" (click)="onSauvegarder()">{{buttonText}}</button>
            </div>
            <div class="flex gap-x-2">
                <button
                    class="shadow-xl select-none p-2 active:translate-x-0.5 active:translate-y-0.5 focus:outline-none focus:shadow-outline text-xs bg-orange text-white font-bold"
                    type="button" (click)="onCancel()">annuler</button>
                <input
                    class="shadow-xl select-none p-2 active:translate-x-0.5 active:translate-y-0.5 focus:outline-none focus:shadow-outline text-xs bg-blue text-white font-bold"
                    type="submit" value="continuer">
            </div>
        </div>
    </form>
</article>