<footer class="bottom-0  w-82 h-24 flex flex-col justify-between text-white text-sm bg-blue">
    <div class="h-3/4 w-full flex">
        <div class="h-full px-4 flex items-center">
            <img src="assets/img/logo-footer.png" alt="logo-step" />
        </div>
        <div class="w-1/2 flex items-center justify-evenly">
            <div class="w-64 h-3/4 flex flex-col justify-evenly bg-blue">
                <span>
                    <h4 class="font-bold">Technopole Hélioparc</h4>
                </span>
                <span>
                    <p>2 avenue du Président Pierre Angot</p>
                </span>
                <span>
                    <p>64053 Pau CEDEX</p>
                </span>
            </div>
            <div class="w-40 h-3/4 flex flex-col justify-evenly">
                <span class="flex gap-x-4 justify-between items-center">
                    <img src="assets/img/icone-mail.png" alt="icone-email" />
                    <h4>contact@step.eco</h4>
                </span>
                <span class="flex gap-x-4 justify-between items-center">
                    <img src="assets/img/icone-mobile.png" alt="icone-mobile" />
                    <h4>05 59 14 78 79</h4>
                </span>
            </div>
        </div>
    </div>
    <div class="bg-blue_grey pl-4">Copyright STEP 2022</div>
</footer>