<article
    class="details min-w-full flex flex-col md:flex-row items-center gap-y-4 mt-5 md:justify-center border print:border-0 p-4">
    <div class="flex md:flex-col gap-x-2 gap-y-2 justify-between items-center">
        <span class="flex gap-x-2 text-sm">
            <h4>Courrier n° : {{detailsCourrier.courrier.bordereau}} </h4>
            <img class="cursor-pointer" src="assets/img/icone-print.png" width="24px" height="24px"
                alt="icone impression" (click)="onPrint()">
            <img *ngIf="isDistributed" class=" cursor-pointer w-4" src="assets/img/Stylo.svg"
                alt="icone afficher signature" (click)="onSignature()">
        </span>
        <app-button [text]="'fermer'" (click)="onFermer()"></app-button>
    </div>
    <div class="max-w-3xl flex flex-col md:flex-row items-center container mx-auto md:flex">
        <app-details-courrier class="min-w-full" [detailsCourrier]="detailsCourrier"></app-details-courrier>
    </div>
    <div class="min-w-full justify-end hidden print:flex mr-40" *ngIf="signature && isPrinting">
        <img class="signature w-40" [src]="signature" (load)="onLoad()" alt="signature du destinataire">
    </div>
    <div *ngIf="detailsCourrier.statuts[detailsCourrier.statuts.length - 1].statut_id > 1">
        <p class="hidden print:flex text-xs md:text-lg">
            Ce document atteste que Step Post à bien pris en charge votre courrier.
        </p>
    </div>
</article>
<app-modal-signature *ngIf="modal" [signature]="signature" (close)="onCloseSignature()"></app-modal-signature>
<app-modal-one-button *ngIf="noSignature" [msg]="'Aucune signature trouvée pour ce courrier'" [btnLabel]="'fermer'"
    (closeModal)="onCloseModal()"></app-modal-one-button>