<article class="details min-w-full flex flex-col md:flex-row items-center gap-y-4 mt-5 md:justify-center border-2 p-4">
    <div class="flex md:flex-col gap-x-2 gap-y-2 justify-between items-center">
        <span class="flex gap-x-2 text-sm">
            <h4>Courrier n° : {{detailsCourrier.courrier.bordereau}} </h4>
            <img class="cursor-pointer" src="assets/img/icone-print.png" width="24px" height="24px"
                alt="icone impression" (click)="onPrint()">
        </span>

        <app-button [text]="'fermer'" (click)="onFermer()"></app-button>
    </div>
    <div class="max-w-3xl flex flex-col md:flex-row items-center container mx-auto md:flex">
        <app-details-courrier class="min-w-full" [detailsCourrier]="detailsCourrier"></app-details-courrier>
    </div>
</article>