$blue: #140A82;
$orange: #FF5E1A;
$green: #24A640;

.article-details-recherche {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #646464;
    padding: 1vw;
    border-radius: 5px;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1vh;
        color: $blue;

        >span {
            display: flex;
            align-items: center;
            column-gap: 0.75vw;

            >img {
                height: 24px;
                width: auto;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media print {

    .button,
    img {
        display: none;
    }

    .article-details-recherche {
        display: flex;
        flex-direction: column;
    }
}