<main class="w-full flex flex-col items-center gap-y-8">
    <section>
        <h4 class="font-bold">Création de compte</h4>
    </section>
    <section class="md:max-w-md container mx-auto" *ngIf="!password || !emailChecked">
        <app-check-mail class="w-full" (email)="onEmailSubmitted($event)" (emailChecked)="onCheckEmail($event)">
        </app-check-mail>
    </section>
    <section class="md:max-w-md container mx-auto" *ngIf="!password || !emailChecked">
        <app-new-password class="w-full" (submitted)="onPasswordSubmitted($event)"></app-new-password>
    </section>
    <section class="md:max-w-4xl container mx-auto" *ngIf="password && emailChecked">
        <app-update-adresse class="w-full" [email]="email" (submitted)="onAdresseSubmitted($event)">
        </app-update-adresse>
    </section>
</main>