<main class="w-full flex flex-col items-center justify-center gap-y-5 md:gap-y-10 mb-8 mt-20">
    <section class="w-80 md:w-full mx-auto flex flex-col gap-y-8 md:gap-y-16 items-center">
        <div *ngIf="!password && !coordonnees">
            <h5 class="font-bold">Gestion du profil</h5>
        </div>
        <div class="flex flex-col items-center justify-center gap-y-2" *ngIf="password">
            <h5 class="font-bold">Modification du mot de passe</h5>
            <h5 class="font-bold text-sm underline text-orange" (click)="onRetour()">retour</h5>
        </div>
        <div class="flex flex-col items-center font-bold" *ngIf="coordonnees">
            <h5>Modifications des coordonnées</h5>
            <h5 class="text-orange underline" (click)="onRetour()">retour</h5>
        </div>
        <div *ngIf="loader" class="lds-dual-ring"></div>
        <article class="article-menu" *ngIf="!password && !coordonnees && !loader">
            <div class="w-80 flex flex-col gap-y-8">
                <span class="border-b-2 border-blue">
                    <!-- <button class="button" (click)="onPasswordClick()">modifier le mot de passe</button> -->
                    <app-button [fullSize]="true" [text]="'modifier le mot de passe'" (click)="onPasswordClick()">
                    </app-button>
                </span>
                <span>
                    <!-- <button class="button" (click)="onCoordonneesClick()">modifier les coordonnées</button> -->
                    <app-button [fullSize]="true" [text]="'modifier les coordonnées'" (click)="onCoordonneesClick()">
                    </app-button>
                </span>
            </div>
        </article>
        <article class="md:max-w-md container mx-auto" *ngIf="password">
            <app-update-password-form class="min-w-full"></app-update-password-form>
        </article>
        <article class="md:max-w-2xl container mx-auto" *ngIf="coordonnees">
            <app-update-adresse class="w-full" [dest]="user" (submitted)="onAdresseSubmitted($event)">
            </app-update-adresse>
        </article>
    </section>
</main>