<main class="main-profil">
    <section class="section-profil">
        <div *ngIf="!password && !coordonnees">
            <h5>Gestion du profil</h5>
        </div>
        <div *ngIf="password">
            <h5>Modification du mot de passe</h5>
            <h5 (click)="onRetour()">retour</h5>
        </div>
        <div *ngIf="coordonnees">
            <h5>Modifications des coordonnées</h5>
            <h5 (click)="onRetour()">retour</h5>
        </div>
        <div *ngIf="loader" class="lds-dual-ring"></div>
        <article class="article-menu" *ngIf="!password && !coordonnees && !loader">
            <div>
                <span>
                    <button class="button" (click)="onPasswordClick()">modifier le mot de passe</button>
                </span>
                <span>
                    <button class="button" (click)="onCoordonneesClick()">modifier les coordonnées</button>
                </span>
            </div>
        </article>
        <article class="article-password" *ngIf="password">
            <app-update-password-form></app-update-password-form>
        </article>
        <article class="article-coordonnees" *ngIf="coordonnees">
            <app-update-adresse [dest]="user" (submitted)="onAdresseSubmitted($event)">
            </app-update-adresse>
        </article>
    </section>
</main>