<main>
    <section *ngIf="!expired">
        <article>
            <div>
                <h4>Création du compte associé à l'adresse email suivante :</h4>
            </div>
            <div>
                <h4>{{email}}</h4>
            </div>
        </article>
        <article *ngIf="!accountActivated">
            <app-new-password (submitted)="onSubmitted($event)"></app-new-password>
        </article>
        <article *ngIf="!accountActivated">
            <p>Le mot de passe doit être composé d' :</p>
            <ul>
                <li>- au moins 8 caractères</li>
                <li>- une majuscule</li>
                <li>- une minuscule</li>
                <li>- un chiffre</li>
                <li>- un caractère spécial</li>
            </ul>
        </article>
        <article *ngIf="accountActivated">
            <div>
                <p>Votre compte est maintenant activé, vous pouvez dès à présent profiter des fonctionnalités de
                    l'application
                    Step-Post, nous vous remercions pour votre confiance.</p>
            </div>
            <div>
                <a class="button" routerLink="/login">connexion</a>
            </div>
        </article>
    </section>
    <section class="expired" *ngIf="expired">
        <h2>Ce lien a expiré.</h2>
        <div>
            <a class="button" routerLink="/login">accueil</a>
        </div>
    </section>
</main>