$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5vh;
    margin-top: 50px;

    >section {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;

        >article {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1vh;

            >ul {
                list-style-type: none;
                font-size: .85em;
            }

            >div {
                width: 100%;
                display: flex;
                justify-content: center;

                >p {
                    margin-top: 25px;
                    width: 50%;
                    font-size: .85em;
                }

                >a {
                    font-size: 1em;
                    color: $orange;
                }
            }

            >div:nth-child(2) {
                color: $orange;
            }

            >div:last-child {
                width: 60%;
                display: flex;
                align-items: center;
                row-gap: 1vh;
            }
        }

        >div {
            width: 100%;
            display: flex;
            justify-content: center;

            >a {
                color: $orange;
                font-size: .85em;
                text-decoration: underline;
            }
        }
    }
}