<article *ngIf="!preview" class="article-bordereau-form">
    <form [formGroup]="bordereauForm">
        <div>
            <span>
                <input type="radio" checked="false" value="0" formControlName="type">
                <label>Lettre AS</label>
            </span>
            <span>
                <input type="radio" checked="false" value="1" formControlName="type">
                <label>Lettre AR</label>
            </span>
            <span>
                <input type="radio" checked="false" value="2" formControlName="type">
                <label>Colis</label>
            </span>
        </div>
        <div>
            <label>Instructions de livraison
                <textarea rows="2" formControlName="instructions"></textarea>
            </label>
        </div>
        <div>
            <label>Téléphone
                <input type="text" formControlName="telephone">
            </label>
        </div>
    </form>
    <div>
        <div class="adresse">
            <div>
                <span>
                    <p>{{dest.civilite | titlecase}}&nbsp;</p>
                    <p>{{dest.nom | titlecase}}&nbsp;</p>
                    <p>{{dest.prenom | titlecase}}</p>
                </span>
                <p>{{dest.adresse | titlecase}}</p>
                <p>{{dest.complement}}</p>
                <p>{{dest.codePostal | titlecase}} {{dest.ville | titlecase}}</p>
            </div>
        </div>
        <div>
            <button class="button" type="button" (click)="onCancel()">annuler</button>
            <input class="button" type="button" value="continuer" (click)="onSubmitForm()">
        </div>
    </div>
</article>
<article *ngIf="preview">
    <app-preview [bordereau]="bordereau" (retour)="onRetourClick()"></app-preview>
</article>