$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

.article-bordereau-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;
    column-gap: 5vw;

    >form {
        max-width: 50%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
        border: 1px solid $blue;
        border-radius: 5px;
        padding: 2vw 4vw;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1vw;

            >label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 1vh;
                white-space: nowrap;

                >input,
                >textarea {
                    width: 80%;
                    padding: 1vw;
                    box-shadow: 4px 4px 4px #646464;
                }
            }

            >span {
                display: flex;
                column-gap: .5vw;
            }
        }

        >div:last-child {
            margin-top: 5vh;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1vw;

            >.button {
                padding: 1vw;
            }

            >button:first-child {
                background-color: $orange;
            }
        }
    }

    >div {
        max-width: 50%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 5vh;

        >.adresse {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid $blue;
            border-radius: 5px;
            padding: 2vw 4vw;

            >div {

                >span,
                >p {
                    display: flex;
                    white-space: nowrap;
                }
            }
        }

        >div:last-child {
            display: flex;
            justify-content: flex-end;
            column-gap: 1.5vw;

            >button:first-child {
                background-color: $orange;
            }
        }
    }
}