<section class="w-80 md:w-full flex flex-col items-center" *ngIf="!passwordCheck">
    <form class="w-80 md:w-full flex flex-col items-center gap-y-8" [formGroup]="passwordForm" (submit)="onSubmit()">
        <div class="md:w-full">
            <label class="text-sm">Ancien mot de passe :</label>
            <input
                class="shadow border-stone-300 border w-80 md:w-full p-4 md:p-8 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" id="oldPassword" autofocus formControlName="oldPassword" [testLoginForm]="oldError">
        </div>
        <div class="w-full flex justify-end">
            <div class="w-full md:w-fit">
                <!-- <button class="button" type="submit">envoyer</button> -->
                <app-button [fullSize]="true" [text]="'envoyer'" (click)="onSubmit()"></app-button>
            </div>
        </div>
    </form>
</section>
<section *ngIf="passwordCheck">
    <app-new-password (submitted)="onSubmitted($event)"></app-new-password>
</section>