<section *ngIf="!passwordCheck">
    <form class="update-password-form" [formGroup]="passwordForm" (submit)="onSubmit()">
        <div>
            <label>Ancien mot de passe :</label>
            <input type="password" id="oldPassword" autofocus formControlName="oldPassword" [testLoginForm]="oldError">
        </div>
        <div>
            <button class="button" type="submit">envoyer</button>
        </div>
    </form>
</section>
<section *ngIf="passwordCheck">
    <app-new-password (submitted)="onSubmitted($event)"></app-new-password>
</section>