$blue: #140a82;
$orange: #ff5e1a;
$green: #24a640;

#searchInput {
    width: 30vw;
    padding: 1.5vw;
}

.collection {
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px #646464;

    >div {
        width: 100%;

        >p {
            font-size: .75em;
            padding: 5px;
            border: 1px solid rgb(224, 224, 224);

            &:hover {
                cursor: pointer;
            }
        }
    }

    >div:nth-child(even) {
        background-color: rgb(224, 224, 224);
    }
}

.main-recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;

    .form-recherche {
        display: flex;
        flex-direction: column;
        align-items: center;

        >div:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: left;

            >div {
                display: flex;
                flex-direction: column;
                row-gap: .5vh;

                >label {
                    font-size: 0.75em;
                }

                >div {
                    display: flex;
                    align-items: center;
                    column-gap: .75vw;
                }
            }
        }

        >div:nth-child(2) {
            display: flex;
            align-items: center;
            column-gap: 1vw;
        }
    }

    .button {
        >img {
            height: 2.75vw;
            width: 2.75vw;
        }
    }

    .recherche-adresse {
        display: flex;
        align-items: center;
    }

    .detailsRecherche {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #646464;
        padding: 1vw;
        border-radius: 5px;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1vh;
            color: $blue;

            >span {
                display: flex;
                align-items: center;
                column-gap: 0.75vw;

                >img {
                    height: 24px;
                    width: auto;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .main-recherche {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    @media screen and (max-width: 1000px) {
        .detailsRecherche {
            width: 80%;
        }

        .form-recherche {
            >img {
                width: 24px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .section-recherche {
            width: 90%;

            .recherche-adresse {
                width: 90%;
                column-gap: 2vw;

                >#searchInput {
                    width: 80%;
                }

                >img {
                    width: 8vw;
                    height: auto;
                }
            }
        }

        .form-recherche {
            width: 90%;
            row-gap: 2vh;

            >div:nth-child(1) {
                >label {
                    font-size: 0.65em;
                }
            }

            >div:nth-child(2) {
                width: 100%;
                column-gap: 2vw;

                >#searchInput {
                    width: 80%;
                }

                >.button {
                    img {
                        width: 6vw;
                        height: 6vw;
                    }
                }
            }
        }

        .rechercheNom {
            width: 90%;
            font-size: 0.75rem;
        }

        .detailsRecherche {
            width: 90%;
            height: 15vh;
            flex-direction: column;
            row-gap: 1vh;

            >div:nth-child(1) {
                flex-direction: row;
                column-gap: 5vw;

                >h4,
                >.button {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

@media print {
    @page {
        size: landscape;
    }

    .main-recherche {
        >.form-recherche {
            display: none;
        }
    }
}