<main>
    <section>
        <div>
            <h4>
                Réinitialisation du mot de passe :
            </h4>
        </div>
    </section>
    <section class="section-form">
        <form [formGroup]="emailForm" (submit)="onSubmit()">
            <div>
                <label>Adresse email</label>
            </div>
            <input class="input" type="email" formControlName="email" placeholder="jean.dupont@exemple.fr">
            <div>
                <button class="button" type="submit">envoyer</button>
            </div>
        </form>
    </section>
    <section *ngIf="!mailSent">
        <div>
            <h5>Assurez vous de bien écrire votre adresse email.</h5>
        </div>
    </section>
    <section class="section-message" *ngIf="mailSent">
        <p>Un email contenant les instructions pour la réinitialisation de votre mot de passe vous a été envoyé,
            veuillez consulter votre boîte mail svp.</p>
    </section>
</main>